.listHeader {
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
  
    @media (max-width: 770px) {
      grid-template-columns: repeat(2, minmax(200px, 1fr));
    }
  
    @media (max-width: 430px) {
      grid-template-columns: repeat(1, minmax(200px, 1fr));
    }
    
    column-gap: 5px;
    row-gap: 5px;
    margin-top: 5px;
  }